body {
    background-color: #1b2a33;
}

input{
    width: 100%;
}

form{
    width: 100%;
}

button{
    width: 100%;
}

.card-body{
    text-align: center;
}

.diceHeader{
    text-align: center;
    color: #1b2a33;
}

.col-6{
    max-height: 250px;;
}